.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ====================================================== */

.search-input{
  border-radius: 50px;
  width: 500px !important;
  font-size: 16px;
}
.search-input::-webkit-input-placeholder {
  font-size: 13px;
  padding-left: 20px;
}
.r{  
  color: white !important;
  background-color:#59c26f;
}
.e{ 
  color: white !important;
  background-color:#cc4b83;
}
.c{
  color: white !important;
  background-color:#8a5acc;
}